# Canvas API Configuration
CANVAS_DOMAIN=https://your-canvas-instance.instructure.com
CANVAS_OAUTH_REDIRECT_URI=https://your-app-domain.com/api/auth/callback

# LTI 1.3 Keys (Optional but recommended for prod)
LTI_PRIVATE_KEY= key
CANVAS_API_CLIENT_ID=your_canvas_oauth_client_id
CANVAS_API_CLIENT_SECRET=key
LTI_CLIENT_ID=LTI_CLIENT_ID

# Flask Configuration
SECRET_KEY=your_secure_random_flask_secret
SESSION_FILE_DIR=/home/bitnami/apps/CanvasLTI-Quiz/app/flask_session
PERMANENT_SESSION_LIFETIME=3600 # 1 hour
