# Backend Libraries
flask
flask_caching
gunicorn
python-dotenv

# LTI Libraries
pylti1p3
cryptography  # encrypts the Canvas token stored in the session cookie

# Doc Parsing Libraries
PyMuPDF
python-docx

# Testing
pytest